# Visual Studio
.vs/
*.suo
*.user

# Build
bin/
obj/
dist/

# Debug
Debug/
Release/

# Logs
*.log
Logs/

# BepInEx runtime
BepInEx/config/
BepInEx/cache/
BepInEx/LogOutput.log

# Personal environment
GamePath.props
/git

# Game files
Assembly-CSharp.dll
Assembly-CSharp-firstpass.dll
UnityEngine*.dll

# OS
Thumbs.db
Desktop.ini
.DS_Store
